@mixin grid {
  display: grid;
}

@mixin grid100 {
  @include grid;
  grid-template-columns: 1fr;
}

@mixin grid50($grid: false) {
  @include grid;
  @if $grid == true {
    grid-gap: 1rem;
  }
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  @media (width > 85.375rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin grid33($grid: false) {
  @include grid;
  @if $grid == true {
    grid-gap: 1rem;
  }
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  @media (width > 85.375rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin grid25($grid: false) {
  @include grid;
  @if $grid == true {
    grid-gap: 1rem;
  }
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  @media (width > 85.375rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin flex {
  display: flex;
}

@mixin flex-rows-space-around {
  @include flex;
  justify-content: space-around;
}

@mixin flex-rows-start {
  @include flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-rows-center {
  @include flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-rows-end {
  @include flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@mixin flex-columns-start {
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-columns-center {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-columns-end {
  @include flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
